.glenn{
background-color: gray;
font-family: 'Trebuchet MS', serif;
top: 0px;
text-align: center;
width: 100%;
z-index: 1;
}
.picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.themeat{
text-align: center;
background-color: lightslategrey;
width: 100%;
}
.themeat ul li{
display: inline;
}
body{
font-family: 'Trebuchet MS', serif;
}
.pictwo{
/*margin-right: 500px; */
background-color: rgb(84, 84, 84)
}
.right{
display: block;
margin-left: auto;
margin-right: auto;
}
.glenn2{
    background-color: gray;
    font-family: 'Trebuchet MS', serif;
    top: 37px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
    }
.achievements{
 text-align: center;
 background-color:rgb(103, 86, 86)
}
footer{
text-align: center;
background-color:rgb(68, 101, 82)
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #413049;
	display: table;
	width: 100%;
}

nav li {
	display: table-cell
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}
